; SERVER

[server]
; use storage which storage will be used, now possible values:
; mysql - will be used mysql database
; ram - (not implemented yet) use just memory
; postgre - (not implemented yet) will be used postgre database

use_storage = mysql

; http port for scoreboard
scoreboard_port = 8080

; web page for scoreboard see index-template.html
scoreboard_html_folder = /usr/share/fhq-jury-ad/jury.d/html

; If yes - will be random values in scoreboard
scoreboard_random = no

; if use_storage is mysql
[mysql_storage]
dbhost = localhost
dbport = 3306
dbname = fhqjuryad
dbuser = fhqjuryad
dbpass = fhqjuryad

; if use_storage is ram
[ram_storage]
dbpath = /usr/share/fhq-jury-ad/jury.d/dbram

; GAME INFO

[game]

; visible game name in scoreboard
name = Test First Game

; start time of game (UTC)
start = 2018-09-06 12:00:00

; end time of game (UTC)
end = 2018-09-06 13:00:00

; you can change flag time live (in minutes)
flag_timelive_in_min = 10


; SERVICES
; number can be 1..25

; example of service definition

[service1]

; you can enable or disable service
enabled = yes ; default yes

; visible name of service
name = Hello1

; full path to script, must be access to execute
script_path = ./service1/checker.py

; how much time in secoinds will be wait script before kill them (default 10 sec)
script_wait_in_sec = 5 

; how much time will be sleeped between calling scripts (default 10 sec)
time_sleep_between_run_scripts_in_sec = 25

; also you can skip some numbers of services
; [service2]
; name = Hello2
; script_path = ./service2.sample/checker.py
; script_wait_in_sec = 10
; time_sleep_between_run_scripts_in_sec = 10
; enabled = no

[service3]
name = Hello3
script_path = ./service3/checker.py
enabled = no
 
[service4]
name = Hello4
script_path = ./service4/checker.py
enabled = yes

; teams
; (number can be 1..200)

[team1]

; team name
name = Hoho

; relative logo path by file html/index.php
; upload image of team to folder html/images/teams/some_team.png
logo = images/teams/unknown.png

; ip address to vuln server of team
ip_address = 172.17.0.2

; if need you can disable user 
active = yes

; Also you can skip  some numbers of team
; [team2]
; name = Atlas
; logo = images/teams/unknown.png
; ip_address = 172.17.0.3
; active = yes

[team3]
name = Moor
logo = images/teams/unknown.png
ip_address = 172.17.0.4
active = no

[team4]
name = Some
logo = images/teams/unknown.png
ip_address = 172.17.0.5
active = yes

[team5]
name = hackers
logo = images/teams/unknown.png
ip_address = 172.17.0.6
active = yes

