.vscode
jury.d/logs/*.log
dckr_mysql/*
vulnbox/example_service1/flags/*
game-simulation/vulnbox/service3_php/tmp/*
*.log
unit-tests.wsjcpp/tmp/*
data_test/*
ctf01d
tmp/*
.wsjcpp/*
*.log

# Prerequisites
# *.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

