body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: black;
    color: silver;
}

.header {
    display: block;
    width: 100%;
    border-bottom: 1px solid silver;
}

.logo  {
    vertical-align: top;
    display: inline-block;
    background-image: url('./redboard.jpg');
    width: 200px;
    height: 100px;
    background-size: 100% 100%;
}

.pages {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 220px);
    border-bottom: 1px solid silver;
    height: 100px;
}

.page {
    display: inline-block;
    background-color: #47110f;
    color: #d3331d;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.page:hover {
    background-color: #681412
}

.flags {
    display: block;
    width: 80%;
    margin-left: 10%;
}

.flag {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    background-image: url("./dot.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    line-height: 20px;
    background-position: 0px center;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 0px;1
}

.flag:hover {
    background-color: #681412
}

.flag-id {
    display: block;
    
}

.flag-content {
    display: none;
    font-size: 20px;
    color: white;
}


input {
    background-color: #000;
    border: 1px solid #d3331d;
    color: #d3331d;
    border-radius: 5px;
    padding: 5px;
}

button {
    background-color: #d3331d;
    color: #000;
    border-radius: 5px;
    border: none;
    padding: 6px;
}