[Unit]
Description=Service3
After=syslog.target
After=network.target

[Service]
WorkingDirectory = /usr/share/hackwars/service3.sample
User=root
Group=root
ExecStart=/bin/sh -c 'python2 service.py'

TimeoutSec=30
Restart=always

[Install]
WantedBy=multi-user.target
Alias=service3.service
