body{
    background-color: #000;
    font: 12pt/10pt Arial;
    color: #999;
    padding: 0px;
    margin: 0px;
    background-color: #202020;
    color: #aaa;
}

body,html{
	  height: 100%;
}

.game-name{
    font-size: 40px;
    padding-top: 40px;
    height: 40px;
}

.game-description{
    padding-top: 10px;
    padding-bottom: 20px;
}

.game-time-range {
    color: #444;
}

.team-name{
	font-size: 24px;
}

.team-ip{
	font-size: 10px;
}

#scoreboard_content {
  display: block;
  position: relative;
}

#table_scoreboard {
  width: 90%;
  position: relative;
}

.hdrs {
  border-bottom: 1px solid #111;
  height: 50px;
  position: absolute;
  padding-top: 15px;
  width: 100%;
  white-space: nowrap;
}

.tm {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 50px;
  border-bottom: 1px solid #111;
  padding-top: 15px;
  position: absolute;
  width: 100%;
  white-space: nowrap;
}

.place {
  display: inline-block;
  font-size: 25px;
  width: 50px;
  text-align: center;
  height: 50px;
  vertical-align: top;
  line-height: 50px;
}

.team-logo {
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: top;
}

img.team-logo {
  width: 40px;
	height: 40px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.team {
  display: inline-block;
  height: 50px;
  vertical-align: top;
  width: 100px;
  line-height: 25px;
}

.hdrs .team {
  line-height: 50px;
}

.score {
  display: inline-block;
  height: 50px;
  vertical-align: top;
  text-align: center;
  width: 100px;
  line-height: 50px;
}

.service {
  display: inline-block;
  height: 50px;
  vertical-align: top;
  width: 150px;
  line-height: 25px;
  border-left: 1px solid #111;
  padding-left: 15px;
  padding-right: 15px;
}

.service-status {
  display: inline-block;
  height: 50px;
  padding-left: 65px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.service-status.down {
	background-image: url("../images/states/down.svg");
}

.service-status.corrupt {
	background-image: url("../images/states/corrupt.svg");
}

.service-status.mumble {
	background-image: url("../images/states/mumble.svg");
}

.service-status.up {
	background-image: url("../images/states/up.svg");
}

.service-status.shit {
	background-image: url("../images/states/shit.svg");
}

.service-att-def, .service-sla {
  height: 25px;
  line-height: 25px;
}

/* loader */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}


