body {
    background-color: #ECDABB;
    text-align: center;
}


.menu {
    margin-bottom: 50px;
}

.menu-item {
    display: inline-block;
    cursor: pointer;
    background-color: #9E814E;
    padding: 10px;
    margin: 10px;
    color: #fff;
    border-radius: 7px;
}

#form_put_flag, #form_get_flag, #form_list_flag {
    display: none;
}

.tbl {
    display: inline-table;
}